{
    margin: 10px;
}

body {
    background-color: wheat;
}

#home {
    margin-left: -1cm;
    margin-top: -1cm;
    margin-right: -1cm;
    padding-bottom: 2cm;
    padding-top: 2cm;
    background-color: #483355;
}

header {
    font-size: 30px;
    color: rgb(240, 234, 245);
    float:left;
    padding-left: 2cm;
}

.topdiv {
    float: right;
    padding-right: 1cm;
}

.topmenu {
    color: lightgray;
    background-color: #483355;
    margin: 10px;
    padding: 10px;
    border-radius: 1mm;
    font-size: 20px;
    text-decoration: none;
}

.topmenu:hover {
    color: white;
    font-weight: bolder;
    background-color: #382742;
    text-decoration: underline;
}

#all-conversion-sections{
    display: grid;
    justify-content: center;
}

figure {
    float: left;
    justify-content: auto;
    width: 200px;
}

img {
    width: 200px;
}

figcaption {
    color: black;
    font-size: 17px;
    text-align: center;
}

button {
    font-size: 20px;
    border-color: transparent;
    width:fit-content;
    border-radius: 40px;
    background-color: rgb(173, 218, 173);
    padding-left: 15px;
    padding-right: 15px;
}

button:hover{
   cursor: pointer; 
}

.b {
    border-top-style: solid;
    border-top-width: 20px;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    height: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
    display:flex;
}

.temperature {
    border-top-color: green;
}

.weight {
    border-top-color: coral;
}

.distance{
    border-top-color: cyan;
}

legend{
    font-size: 30px;
    font-weight: bolder;
}

.iconbutton{
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100%;
    background-color: cyan;
    position: fixed;
    left: 0;
    bottom: 40px;
}

.iconbutton img{
    width: 30px;
}

footer {
    background-color: lightpink;
    margin-top: 20px;
}